
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes for prototyping.
    // Ensure you secure these rules before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
