
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // These rules are wide open for prototyping.
    // Make sure to secure these rules before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
